---
import Layout from "../layouts/Layout.astro";
import ThreeScene from "../components/ThreeScene";
---

<Layout>
  <main>
    <div class="three-container">
      <ThreeScene client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  .three-container {
    width: 100%;
    height: 100%;
  }
</style>
